*{
  background-color: #0B0B0B;
  font-family: 'Inter';
  color: white;
}

a{
  background-color: transparent;
}

.welcome {
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 0;


}
.highlight {
  color: #E4BB14;
  font-weight: 600;
  text-align: left;
  margin-left: 0;
}

.welcome-sentence {
  color: #ffffff;
  font-size: 1rem;
  font-weight:460;
  margin-left: 1.75rem;
  margin-top: 0.5rem;
}

.logo{
  display: block;
  margin: auto;
  width: 17.1875rem;
  height: 17.1875rem;
  margin-bottom: 3rem;
}

.continue-button {
  margin-top: 3.5625rem;
  display: block;
  margin: auto;
  border: none;
  border-radius: 8px;
  background-color: #E4BB14;
  font-size: 2.125rem;
  font-weight: 500;
  width: 35vh;
  height: 3.75rem;
  margin-bottom: 1.3125rem;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover{
    background-color: #0B0B0B;
    border: 1px solid #E4BB14;

    a{
      color: #E4BB14;
    }
  }

  a{
    display: block;
    margin: auto;
    padding: 7% 25%;
    text-align: center;
    line-height: 100%;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
    color: #0B0B0B;
    font-size: 1.125rem;
  }

}
.about-me-button {
  display: block;
  margin: auto;
  border: 1px solid #E4BB14;
  border-radius: 8px;
  background-color: #0B0B0B;
  font-size: 2.125rem;
  font-weight: 500;
  width: 35vh;
  height: 3.75rem;
  margin-bottom: 1.3125rem;
  transition-duration: 0.4s;
  cursor: pointer;
  justify-content: center;


  &:hover{
    background-color: #E4BB14;
    border: 1px solid #0B0B0B;

    a{
      color: #0B0B0B;
    }
  }

  a{
    display: block;
    margin: auto;
    text-align: center;
    line-height: 100%;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
    color: #E4BB14;
    font-size: 1.125rem;
    padding: 7%;

  }

}

.buttons {
  margin-top: 4.5625rem;
}

@media (min-width: 500px) {

  .welcome {

    font-size: 3rem;
    text-align: center;
    line-height: 1.4;
  }

  .welcome-sentence {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1rem;
  }

  .logo{
    width:  40rem;
    height: 15rem;
  }

  .welcome-button {
    display: flex;
    justify-content: center;
  }

  .about-me-button {
    display: flex;
    justify-content: center;
  }
}